<div class="HelloWorld">
	<h2 class="hd" data-literal='{"scope":"main","name":"hd_title"}' />
	<div class="actions">
		<div class="acholder">
			<div class="action act_js" data-literal='{"scope":"main","name":"lbl_action_js"}' />
		</div>
		<div class="acholder">
			<div class="action act_async" data-literal='{"scope":"main","name":"lbl_action_async"}' />
		</div>
	</div>
	<div class="app_logContainer">
		<div class="header">
			<div class="app_log_clear">Clear Log</div>
		</div>
		<div class="body" />
	</div>
</div>